{% load mptt_tags %}
{% load assign %}

{% assign nodes collections_nodes %}


<ul class="tree root">
    {% recursetree nodes %}
        <li id="collections_node_{{ node.id }}" data-node-class="{{ node.klass }}" {% if node.klass == "AssetAlias" %}data-asset-id="{{ node.asset_id }}"{% endif %}>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>