{% extends "base.html" %}
{% block bodyClass %}login{% endblock %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/library.css" />
	<!-- Stuff for the public page can go here -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/home.css" />
{% endblock %}

{% block content %}
<div id="start">

	<div id="login">
    	<h2>Pegasus Login</h2>
        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
        <p>
            <label for="id_username">Username</label> <input type="text" name="username" id="id_username" />
        </p>
        <p>
            <label for="id_password">Password</label> <input type="password" name="password" id="id_password" />
            <input type="hidden" name="this_is_the_login_form" value="1" />
        </p>
        <p>
            <label>&nbsp;</label><input type="submit" value="Go!" />
        </p>
        </form>
	</div>
	
	<script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>

{% endblock %}