{% extends "library/show.html" %}
{% load present_tags %}
{% block bodyClass %}present{% endblock %}

{% block title %}
	{{ project.title }} Composition
{% endblock %}

{% block extra_styles %}
	<!-- stylesheets -->
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ project_stylesheet }}" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/composer.css" />
{% endblock %}

{% block custom_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/projects.js"></script>
  <script type="text/javascript">
	// Toggle the skin
	$("a.button#skin_view").click(function () {
		$('a.button').toggleClass('active');
		$('head').append('<link rel="stylesheet" href="{{ MEDIA_URL }}/skins/narwhal/style.css" type="text/css" title="appendedStyle" />');
		});
	$("a.button#wireframe_view").click(function () {
		$('a.button').toggleClass('active');
		$('link[title=appendedStyle]').prop('disabled',true);
		});
	</script>
	<script type="text/javascript" src="http://use.typekit.com/eyg2elj.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}






{% block center_content %}

<div id="library" role="main" class="composer center">
  
  <header class="panelheader">
  <h2>Preview</h2>
  <ul id="compose-view" class="view">
  	<li><a href="#" id="wireframe_view" class="button active">Wireframe</a></li>
  	<li><a href="#" id="skin_view" class="button">Skin</a></li>
  </ul>
  </header>
  <div class="innerpane">
  	{% include "present/project_in_template.html" %}
  </div>
  
  <!-- <iframe src="{% url project_in_template request.user.id, project.slug %}" /> -->
</div>

<div id="projects">
</div> <!-- /#projects -->
{% endblock %} <!-- End: center_content -->


