{% extends "library/show.html" %}
{% block title %}
    {{ project.title }} Composition
{% endblock %}

{% block extra_styles %}
    <!-- stylesheets -->
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ project_stylesheet }}" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/composer.css" />
{% endblock %}

{% block custom_scripts %}
  {{ block.super }}
  <!-- <script type="text/javascript" src="{{ MEDIA_URL }}js/composition.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.event.drag-2.0.js"></script> -->
  <script type="text/javascript" src="{{ MEDIA_URL }}js/projects.js"></script>
{% endblock %}






{% block center_content %}

<div id="library" role="main" class="composer center">
  
  <header class="panelheader">
  <h2>Preview</h2>
  </header>
  <div class="innerpane">
  	{% include "present/project_in_template.html" %}
  </div>
  
  <!-- <iframe src="{% url project_in_template request.user.id, project.slug %}" /> -->
</div>

<div id="projects">
</div> <!-- /#projects -->
{% endblock %} <!-- End: center_content -->