{% load present_tags %}

{% block custom_scripts %}
	{% block super %}
	<script type="text/javascript">
		var project_template_name = "basic";
		var media_base_url = "{{ MEDIA_URL }}/basic";
		var media_url = "{{ MEDIA_URL }}";
		var app_url = "{{ request.META.SCRIPT_NAME }}";
		var ajax_prefix = "{{ AJAX_PREFIX }}";
		var username = "{{ request.user }}";
		var userid = "{{ request.user.id }}"
	</script>
	{% endblock %}
{% endblock %}


<section id="{{ project_template_name }}-template">
	
    {% comment %}
	<div class="{% editable_state request.path %}" id="{{ project_template_name }}-outterwrap">		 
	</div>
    {% endcomment %}
    
     {% if request.path|is_composition %}
      <a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/public/{{ project.slug }}" id="display_toggle">Display</a>
      {% else %}
       <a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/{{ project.slug }}/compose" id="display_toggle">Compose</a>
     {% endif %}
		
	<div id="{{ project_template_name }}-wrap">
	 
		 <header id="{{ project_template_name }}-mast" class="{% editable_state request.path %}" data-menu_edit="true" data-menu_privacy="true" data-menu_move="true">
			 <div id="project_heading" class="{{ project_template_name }}-container">
				 <hgroup>
					 <h1>{{ project.name }}</h1>
				 	 <h2>{{ project.description|safe }}</h2>
				 </hgroup>
			 </div>
		 </header>
		 
		 <div class="{{ project_template_name }}-container" data-project-slug="{{ project.slug }}">
		 
			 <nav id="{{ project_template_name }}-primary_nav" class="{% editable_state request.path %}">  
				 <ul id="project-pages">
					 {% if project.pages %}
						 {% for page in project.pages.all %}
							 <li id="{{ page.id }}" attached-to-project="{{ project.id }}"><a href="#">{{ page }}</a></li>
						 {% endfor %}
					 {% endif %}
				 {% if collections_nodes %}
					<li> <a href="#" class="add-page" data-project-slug="{{ project.slug }}"> + Add page </a></li>
				 {% endif %}
				 </ul>
			 </nav>
		 
			 <section id="{{ project_template_name }}-sidebar" class="{% editable_state request.path %} droppable" data-menu_edit="true" data-menu_privacy="true">
			     
                 <!--Demo content-->
                 <div class="video"><iframe width="290" height="177" src="http://www.youtube.com/embed/DOMuU6wb7ag" frameborder="0" allowfullscreen id="kelsey-video" style="width:18.05em; height:10em;"></iframe></div>

                 <p>Welcome to my Georgetown E-portfolio! On this blog I will post information about my research and intellectual pursuits throughout my Masters Degree experience at the Communication, Culture and Technology (CCT) program, Georgetown University. What am I going to do in the CCT program? What are my goals? Why did I move to Washington, D.C from Santa Barbara, California? Over the course of my study at Georgetown the answers to these questions will become more clear — for now, the most definitive answer to my intellectual pursuits is located on the "About Me" page.</p>
                 
 				 <ul class="attached-items">
 				 </ul>
     				 
			 </section>
			 
			 <section id="{{ project_template_name }}-page_content" class="{% editable_state request.path %} droppable" data-menu_edit="true" data-menu_privacy="true"> 
				 <article class="content">
					 <div id="{{ project_template_name }}-page_content_field" class="{% editable_state request.path %}">
						 <!-- this is where page content (from wysiwyg editor) will go. -->
					 </div>
					 <ul class="attached-items">
					 </ul>
				 </article>
				 <input type="hidden" name="page-id" id="hidden-page-id" value="" />
				 <input type="hidden" name="project-id" id="hidden-project-id" value="{{ project.id }}" />
			 </section>
			 
		 </div><!--/container-->
		 
		 <footer id="{{ project_template_name }}-page_footer" class="{% editable_state request.path %}" data-menu_edit="true" data-menu_privacy="true">
			<div class="basic-container">
			 </div>
		 </footer>
	 
	</div>
 
 </section>