{% load present_tags %}

<section id="basic-template">

	<div class="editable" id="basic-outterwrap">         
	</div>
        
    <div id="basic-wrap">
     
         <header id="basic-mast" class="editable">
             <div class="basic-container">
                 <hgroup>
                     <h1>{{ project.name }}</h1>            
                     <h2>{{ project.description }}</h2>
                 </hgroup>
                 {% if request.path|is_composition %}
                  <a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/public/{{ project.slug }}">Display</a>
                  {% else %}
                   <a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/{{ project.slug }}/compose">Compose</a>
                 {% endif %}
             </div>
         </header>
         
         <div class="basic-container" data-project-slug="{{ project.slug }}">
         
             <nav id="basic-primary_nav" class="editable">  
                 <ul id="project-pages">
                    <li> <a href="#" class="add-page" data-project-slug="{{ project.slug }}"> Add a page </a></li>
                     {% if project.pages %}
                         {% for page in project.pages.all %}
                             <li id="{{ page.id }}" attached-to-project="{{ project.id }}"><a href="#">{{ page }}</a></li>
                         {% endfor %}
                     {% endif %}
                 </ul>
             </nav>
         
             <aside id="basic-sidebar" class="editable">
             </aside>
             
             <section id="basic-page_content" class="editable" data-page-id="{{ page.id }}">      
                 <article class="content">
                     <ul class="attached-items">
                     </ul>
                 </article>
                 <input type="hidden" name="page-id" id="hidden-page-id" value="" />
                 <input type="hidden" name="page-id" id="hidden-project-id" value="{{ project.id }}" />
             </section>
             
         </div><!--/container-->
         
         <footer id="basic-page_footer" class="editable">
            <div class="basic-container">
             </div>
         </footer>
     
    </div>
 
 </section>