{% extends "base.html" %}
{% load metadataform_tags %}

{% block extra_styles %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/library.css" />{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.contextmenu.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.themes.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.html.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/jstree.dnd.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jstree/vakata.js"></script>
    
    
    <script type="text/javascript">
        var media_url = "{{ MEDIA_URL }}";
        var app_url = "{{ request.META.SCRIPT_NAME }}";
        var ajax_prefix = "{{ AJAX_PREFIX }}";
        //alert(ajax_prefix)
	</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/inflection.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/application.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/metadata.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraryinteractions.js"></script> <!-- Mine -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libraryitems.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/collectionitems.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.timeago.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/windowflip.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/librarydisplay.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />


    <script type="text/javascript">
        $(document).ready(function() {
            
            /** TODO: ICON FOR CLOSING TABS **/
            var $tabs = $( "#project-tabs").tabs({
            //var $tabs = $( "#tabs").tabs({
                tabTemplate: "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close'>Close</span></li>",
                // ajaxOptions: {
                // error: function( xhr, status, index, anchor ) {
                //     $( anchor.hash ).html(
                //         "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                //         "If this wouldn't be a demo." );
                // }
                // add: function(event, ui) {
                //     $tabs.tabs('select', '#' + ui.panel.id);
                // }
                add: function( event, ui ) {
                    // var tab_content = 'WORK';
                    // $( "ui.panel" ).html( "<p>" + tab_content + "</p>" );
                    var project_slug = ui.panel.id
                    $.ajax({
                    url: "{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/"+project_slug+"/update/",
                    success: function( data ) {
                        if (data.error) {
                            alert (data.error)
                            return false;
                        }
                        //alert(data)
                        $( ui.panel ).append('<form>'+data+'<input type="submit" value="update" /></form>')
                        //$("#project-items").html(data)
                        //$("#tabs").tabs('load', data); //Display the content over
                    }    
                    }); //End ajax call
                },
                // select: function( event, ui ) {
                //     //var tab_content = 'WORK';
                //     //$( "#default-projects" ).html( "<p>" + tab_content + "</p>" );
                //     //$( ui.panel ).append( "<p>" + tab_content + "</p>" );
                //     var project_slug = ui.panel.id
                //     $.ajax({
                //     url: "{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/"+project_slug+"/update/",
                //     success: function( data ) {
                //         if (data.error) {
                //             alert (data.error)
                //             return false;
                //         }
                //         //alert(data)
                //         $( ui.panel ).append('<form>'+data+'<input type="submit" value="update" /></form>')
                //         //$("#project-items").html(data)
                //         //$("#tabs").tabs('load', data); //Display the content over
                //     }    
                //     }); //End ajax call
                // }
            });
            

            $('#project-form').hide();
            $('#create-new-project').click(function(){
                $('#project-form').show('slow');
            })
            
            $('.edit-project').click(function(){
                var title = $(this).attr('data-project-name')
                var project_slug = $(this).attr('data-project-slug')
                //$('#tabs').tabs("add","{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/"+project_slug+"/update/",title, 1);
                $('#project-tabs').tabs("add","#"+project_slug,title, 1);
                
        
                
            }); //End click event

            // $( "#project-tabs" ).live( "tabsselect", function(event, ui) {
            //     var project_slug = ui.panel.id
            //     $.ajax({
            //         url: "{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/"+project_slug+"/update/",
            //         dataType: "json",
            //         success: function( data ) {
            //             if (data.error) {
            //                 alert (data.error)
            //                 return false;
            //             }
            //             alert(data)
            //             $(ui.panel).append('ewr')
            //             //$("#project-items").html(data)
            //             //$("#tabs").tabs('load', data); //Display the content over
            //         }    
            //     }); //End ajax call
            // });

            $( "#project-tabs span.ui-icon-close" ).live( "click", function() {
                var index = $( "li", $tabs ).index( $( this ).parent() );
                $tabs.tabs( "remove", index );
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ requested_user.first_name }} {{ requested_user.last_name }}'s Library
{% endblock %}


{% block content %}
        
    <div id="panels">

        <div id="left">
            <header class="panelheader">
                <h2>Folders</h2>
            </header>
            <div class="handle"></div>
            
            <div id="folders">
                <div id="folder_tree">
                    {% include "libraryitems/index.html" %}   
                </div>  
                {% if requested_user == current_user %}
                    <a id="new_folder" class="button modal remote" href="{{ request.META.SCRIPT_NAME }}/folders/new">new&nbsp;folder</a>
                {% endif %}          
            </div>  
            
            <div id="collections">
                <h2>Your Collections</h2>                
                <div id="collection_tree">
                    {% include "collectionitems/index.html" %}
                </div>
                {% if requested_user == current_user %}
                    <a id="new_collection" class="button modal remote" href="{{ request.META.SCRIPT_NAME }}/collections/new">new&nbsp;collection</a>
                {% endif %}
                
            </div>
       </div><!--/#left-->
       
        
        <div id="library" role="main" class="center">
            
            <div id="collect">
    
                <header class="panelheader">
                </header>
                
                <div id="collection_options">
                	<h1>Collect stuff to add to your Library!</h1>
                    <h2>How should you collect? Here are your options.</h2>
                    <ul>
                    	<li><a href="#" id="upload"><h3>Simple File Upload</h3> Upload documents one at-a-time (or as a batch)!</a></li>
                    	<li><a href="#" id="dropbox"><h3>Sync with DropBox</h3> Install a plug-in to manage your files easily from your DropBox folder.</a></li>
                    	<li><a href="#" id="citations"><h3>Import citations</h3> Connect your Zotero, Diigo, or Endnote account.</a></li>
                    	<li><a href="#" id="email"><h3>E-mail attachments</h3> Add items to your library by attaching them to an e-mail!</a></li>
                    </ul>
                </div>
                
            </div>
        
            <div id="project-items">
            <div id="project-tabs">
                <ul>
                <li><a href="#default-projects">One</a></li>
                </ul>
                <header class="panelheader">
                    <h2>Your items</h2>
                    <ul class="view">
                        <li><a class="button active" href="#" id="list_view">List</a></li>
                        <li><a class="button" href="#" id="icon_view">Icon</a></li>
                    </ul>
                </header>
            	
                <div id="default-projects">
				{% if projects %}
                    <h1> Current Projects </h1>
					<ul>
                    {% for project in projects %}
	                    <li><a href="{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/public/{{project.slug}}/"> {{ project }} - </a> 
                            <a href="#" class="button edit-project" data-project-name="{{project.name}}" data-project-slug="{{project.slug}}"> edit &nbsp;&nbsp;</a>
                            <a href="{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/{{project.slug}}/pages/add/" class="button"> Attach Pages </a>
                        </li>
	                {% endfor %}    
	                </ul>
				{% endif %}
				<h2> <a href="#" id="create-new-project"> Create a new project </a></h2>

                <form id="project-form" name="project-form" method="post" action="{{request.META.SCRIPT_NAME}}/present/{{request.user.id}}/project/create/"> {% csrf_token %}
                    <p> <label for="id_name">Name:</label> {{ form.name }} </p>
                    <p> <label for="id_slug">Slug:</label> {{ form.slug }} </p>
                    <p> <label for="id_description">Description:</label> {{ form.description }} </p>
                    <p> <label for="id_template">Template:</label> {{ form.template }} </p>
                    <p> <label for="id_privacy">Privacy:</label> {{ form.privacy }} </p>
                    <input type="submit" value="Create" />
                </form>
                </div> <!-- #default-projects -->

            </div>  <!-- #project-tabs -->
            </div><!--/#project-items-->
                    
        </div><!--/#library-->
        
        <div id="right">
            <header class="panelheader">
                    <h2>Meta</h2>
            </header>
            <div class="handle"></div>
            <!--<div class="meta default">
                <div class="data">
                    <div class="preview empty">
                        No item Selected!
                    </div>
                </div>
            </div>-->
            <div class="meta">
                <div class="data">
                    <ul id="metadata-details"></ul>
                    <br class="clear" />
                    <h3>Add new metadata</h3>
                    {% display_metadata_form request %}

                    <h3>Tags <span class="tags-edit"><a href="#">Add Tags</a></span></h3>
                    <p id="tag-details"></p>
                    <!-- <h3> Add tags </h3> -->
                    {% display_tag_form request %}
                </div>
            </div>
        </div><!--/#right-->
        
    </div><!--/#panels-->
        
{% endblock %}

{% block footer %}	
        
    <div id="upload-button">
        <p>Upload +</p>
    </div>
        
    <nav id="actions">
        <ul>
            <li><a href="#">Edit</a></li>
            <li><a href="#">Reflect</a></li>
            <li><a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}">Publish</a></li>
            <li><a href="#">Share</a></li>
            <li><a href="#">Submit</a></li>
        </ul>
    </nav>

{% endblock %}