{% if reflections %}
    <div id="reflections" class="innerpane">
        <header>
            <abbr class="date">Date</abbr>
            <abbr class="title">Title</abbr>
            <abbr class="comment">comment</abbr>
        </header>
        <ol class="items"> 
			{% for reflection in reflections %}
                <li id="{{reflection.id}}">
                    <h4 class="date">{{ reflection.modified }}</h4>
                    {% if reflection.title != "" %}
                            <h4 class="title">{{ reflection.title }}</h4>
                        {% else %}
                            <h4 class="title">on {{ obj.name }}</h4>
                        {% endif %}
                    <div class="comment">{{ reflection.comment }} </div>     
                </li>  
			{% endfor %}                             
        </ol>
    </div>  

{% endif %}