{% if reflections %}
      <ol class="items"> 
			{% for reflection in reflections %}
                <li id="{{reflection.id}}">
                    <h4 class="date">{{ reflection.modified }}</h4>
                    {% if reflection.title != "" %}
                            <h4 class="title">{{ reflection.title }}</h4>
                        {% else %}
                            <h4 class="title">on '{{ reflection.content_object.name }}'</h4>
                        {% endif %}
                    <div class="comment"><a href="{{ AJAX_PREFIX }}/reflections/{{ reflection.id }}" class="fancybox">{{ reflection.comment_abbr|safe }}</a></div>     
                </li>  
			{% endfor %}                             
        </ol>
{% endif %}