{% if reflections %}
      <ol class="items"> 
			{% for reflection in reflections %}
                <li id="{{reflection.id}}" class="reflection">
                    {% if reflection.title != "" %}
                        <p class="title">{{ reflection.title }}</p>
                    {% else %}
                        <p class="title">on '{{ reflection.content_object.name }}'</p>
                    {% endif %}
                    <p class="date">{{ reflection.modified }}</p>
                    <a href="{{ AJAX_PREFIX }}/reflections/{{ reflection.id }}" class="fancybox">view</a>     
                </li>  
			{% endfor %}                             
        </ol>
{% endif %}