<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/default.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    {% block custom_scripts %}EPortfolio Tool{% endblock %}
    
    <title>{% block title %}EPortfolio Tool{% endblock %}</title>
</head>

<body><div id="wrap">

    <div id="title">
    <p id="breadcrumb"></p>
    <h1>ePortfolio</h1>
    </div>
    
    <div id="navbar">
      <h2>Navs</h2>
        {% block navbar %}
        <ul>
		      <li><a href="{{ request.META.SCRIPT_NAME }}">Home</a></li>
          <li><a href="{{ request.META.SCRIPT_NAME }}/library/{{ request.user.id }}">My Library</a></li>
          <li><a href="{{ request.META.SCRIPT_NAME }}/profiles/{{ request.user.id }}">My Profile</a></li>
          <li>
              {% if request.user.is_anonymous %}
                <a href="{{ request.META.SCRIPT_NAME }}/accounts/login/">Login</a>
              {% else %}
                {% if not request.mobile %}
                    You're logged in as 
                {% endif %}
                <a href="{{ request.user.get_absolute_url }}">
                    <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
                </a> 
                (<a href="{{ request.META.SCRIPT_NAME }}/accounts/logout/">sign out?</a>)
              {% endif %}
            </li>

        </ul>
        {% endblock %}
    </div>

    <div id="content">
      
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer"></div>
	</div>
</body>
</html>
