{% extends "base.html" %}
{% load present_tags %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/library.css" />
	<!-- Stuff for the public page can go here -->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/home.css" />
{% endblock %}

{% if projects %}
{% block nav_tabs %}
  
  {% if request.path|is_composition %}
	<!-- link to library. list projects; one project is active link. -->
	<li><a href="{{ request.META.SCRIPT_NAME }}/library/{{request.user.id}}">Library</a></li>
   	{% for proj in projects %}
   	  {% if proj.id == project.id %}
   		<li><a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/{{ proj.slug }}/compose" class="edit-project active" data-project-name="{{proj.name}}" data-project-slug="{{proj.slug}}"> {{ proj }} </a></li>
   		{% else %}
   		<li><a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/{{ proj.slug }}/compose" class="edit-project" data-project-name="{{proj.name}}" data-project-slug="{{proj.slug}}"> {{ proj }} </a></li>
   		{% endif %}
   	{% endfor %}
   	
  {% else %}
	<!-- library is active link. list projects. -->
	<li><a href="{{ request.META.SCRIPT_NAME }}/library/{{request.user.id}}" class="active">Library</a></li>
   	{% for project in projects %}
   		<li><a href="{{ request.META.SCRIPT_NAME }}/present/{{ request.user.id }}/{{ project.slug }}/compose" class="edit-project" data-project-name="{{project.name}}" data-project-slug="{{project.slug}}"> {{ project }} </a></li>
   	{% endfor %}
   	
  {% endif %}

{% endblock %}
{% endif %}

{% block content %}
<div id="library">
{% if request.user.is_anonymous %}
	<ul>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/public/collect/">Collect</a></li>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/public/organize/">Organize</a></li>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/public/present/">Present</a></li>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/public/assess/">Assess</a></li>
	</ul>
{% else %}
	<ul>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/library/{{ request.user.id }}">Collect</a></li>
	  <li><a href="{{ request.META.SCRIPT_NAME }}/library/{{ request.user.id }}">Organize</a></li>
	  <li><a href="#">Present</a></li>
	  <li><a href="#">Assess</a></li>
	</ul>
{% endif %}

</div> <!-- /#library -->

<div id="projects">
</div> <!-- /#projects -->
{% endblock %}