{% extends "base.html" %}

{% block extra_styles %}
    <!-- stylesheets -->
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/profiles.css" />
{% endblock %}

{% block title %}Edit User Profile{% endblock %}
{% block content %}

<form action="{{ request.META.SCRIPT_NAME }}/profiles/{{ user.id }}/update/" method="POST">{% csrf_token %}
    <table>
        {{ user_form.as_table }}
        {{ user_profile_form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</from>
{% endblock %}