{% extends "base.html" %}

{% block extra_styles %}
    <!-- stylesheets -->
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/profiles.css" />
{% endblock %}

{% block title %}My Profile{% endblock %}

{% block content %}

<ul>
    {% for field, value in user.items %}
        {% if field != 'password' %}
            <li><b>{{ field }}:</b> {{ value }}</li>
         {% endif %}
    {% endfor %}
    {% for field, value in user_profile.items %}
        <li><b>{{ field }}:</b> {{ value }}</li>
    {% endfor %}
</ul>

<a href="{{ request.META.SCRIPT_NAME }}/profiles/{{ user.id }}/edit">Edit This Profile</a>

{% endblock %}