{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block navbar %}

<ul>
  <li><a href="/profiles/edit/">Edit My Profile</a></li>
  <li><a href="/accounts/logout">Logout</a></li>
</ul>
{% endblock %}

{% block content %}

<ul>
    {% for field, value in user.fields.items %}
        <li><b>{{ field }}:</b> {{ value }}</li>
    {% endfor %}
    {% for field, value in user_profile.fields.items %}
        <li><b>{{ field }}:</b> {{ value }}</li>
    {% endfor %}
</ul>
{% endblock %}